<div class="col-md-2 bg-info pb-4 pt-4">
        <h3>Customer options</h3>
		<ul class="mt-4">
			<li><a href="/viewCustomers">View customers</a></li>
			<li><a href="/addCustomer">Add new customer</a></li>
			<li><a href="/addDriver">Add new driver</a></li>
			
		</ul>
		<h3>Other options</h3>
		<ul class="mt-4">
		    <li><a href="/mealOptions">Edit meal options</a></li>
			<li><a href="/customerDriver">Link customers to drivers</a></li>
		</ul>
</div>