<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="<%= field.fieldId %>"><%= field.fieldName %></label>
            <textarea class="form-control" id="<%= field.fieldId %>"><% if(locals.customers && locals.customers[0]){%><%- customers[0][field.fieldId] %><% } %></textarea>
        </div>
    </div>
</div>