<table id="CustomerTable">
    <thead>
        <tr>
            <th class="bg-success text-white">Customer #</th>
            <th class="bg-success text-white">First name</th>
            <th class="bg-success text-white">Last name</th>
            <th class="bg-success text-white">Email</th>
            <th class="bg-success text-white">Notes</th>
            <th class="bg-success text-white">Meal requirements</th>
            <th class="bg-success text-white"></th>
        </tr>
    </thead>
    <tbody>
		<% if (typeof customers != 'undefined') { %>
<<<<<<< HEAD
<<<<<<< HEAD
	    	<% customers.forEach(function(customer){ %>
=======
	    	<% customers.forEach(function(customer,user){ %>
>>>>>>> origin/production
=======
	    	<% customers.forEach(function(customer){ %>
>>>>>>> 173a2df6c6946f1b059a6a08b6727060a0f77ab1
		    	<% include customer.ejs %>
		    <% }); %>
		<% } %>
	</tbody>
</table>