<table>
    <thead>
        <tr>
            <th class="bg-success text-white">Customer #</th>
            <th class="bg-success text-white">First name</th>
            <th class="bg-success text-white">Last name</th>
            <th class="bg-success text-white">Email</th>
            <th class="bg-success text-white">Notes</th>
            <th class="bg-success text-white"></th>
        </tr>
    </thead>
    <tbody>
		<% if (typeof customers != 'undefined') { %>
	    	<% customers.forEach(function(customer){ %>
		    	<% include customer.ejs %>
		    <% }); %>
		<% } %>
	</tbody>
</table>