body { font-family: 'Raleway', sans-serif;background-image:url('/img/stew.jpg');background-size:cover;background-repeat:no-repeat; }

table { width:100% }
th { border: 1px solid #ccc;border-left: 1px solid #ccc;border-right: 1px solid #ccc;padding: .5rem; }
td { border-bottom: 1px solid #ccc;border-left: 1px solid #ccc;border-right: 1px solid #ccc;padding: .5rem; }
tr:nth-child(odd) td {background:#f1f6f9}
tr td:last-child {text-align:right}

.close { float:right; text-shadow:none!important;opacity:1!important }

.mealRList { list-style:none;padding:0 }
.mealRList li { padding: .3rem;border-bottom: 1px solid #eee; }
.mealRList li .close { color:#555 }