<body>

<div ng-app="AddCustomer" ng-controller="CustomerCtrl">

<form ng-submit="search()">
First name:<br>
  <input type="text" id="firstname"><br>
Last name:<br>
  <input type="text" id="lastname">
  <input type="submit" value="Search">
 </form>
 
 <div>
  Results:
	<ul>
      <!-- assuming our search returns an array of users matching the search -->
      <li ng-repeat="user in results">
         {{user.first_name}} {{user.last_name}}
      </li>
    </ul>
  </div>
  
 </div>
  


</body>

<script type="text/javascript">

 angular.module('AddCustomer', [])
  .controller('CustomerCtrl', ['$scope', '$http', function ($scope, $http) {
      $scope.user = {};
      $scope.results = [];
	  
	 

      $scope.search = function () {
	   var fname = document.getElementById("firstname").value;
	  var lname = document.getElementById("lastname").value;
          /* the $http service allows you to make arbitrary ajax requests.
           * in this case you might also consider using angular-resource and setting up a
           * User $resource. */
		   console.log("clicked");
		   console.log(fname);
          $http.post('/addCustomers', { "fname" : fname,
										"lname" : lname},
            function (response) { $scope.results = response; },
            function (failure) { console.log("failed :(", failure); });
      }
  }]);

</script>