<div class="row" >
    <div class="col-md-6 mt-4">
        <div>
            <div class="card">
                <h3 class="card-header bg-success text-white">Customer details</h3>
                <div class="card-block">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="customerStatus">Customer status</label>
                                    <select class="form-control" id="customerStatus">
                                        <option value="active">Active</option>
                                        <option value="notActive">Not active</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="customerNumber">Customer number</label>
                                    <input type="text" id="customerNumber" class="form-control" value="<%- customer["customerNumber"] %>"/>
                                </div>
                            </div>
                        </div>

                        <% field = [{fieldId:"firstName",fieldName: "First name"},{fieldId:"lastName",fieldName: "Last name"}];%>
                        <% include partials/customerInputAddUser.ejs %>
						
                        <% field = [{fieldId:"username",fieldName: "Username"}, {fieldId:"password",fieldName: "Password"}]; %>
                        <% include partials/customerInputAddUser.ejs %>

                        <% field = {fieldId:"address",fieldName: "Address"}; %>
                        <% include partials/customerTextarea.ejs %>
						
                        <% field = [{fieldId:"email",fieldName: "Email address"}, {fieldId:"phoneNumber",fieldName: "Phone number"}]; %>
                        <% include partials/customerInputAddUser.ejs %>

                        <% field = {fieldId:"adminNotes",fieldName: "Admin notes"} ;%>
                        <% include partials/customerTextarea.ejs %>

                        <% rows = [ {name:"Standard meal", key:"standardMeal"},
                                    {name:"Named meal", key:"namedMeal"},
                                    {name:"Dessert", key:"dessert"},
                                    {name:"Soup", key:"soup"},
                                    {name:"Sandwiches", key:"sandwiches"},
                                    {name:"Fruit", key:"fruit"},
                                    {name:"Baking", key:"baking"},
                                    {name:"Savouries", key:"savouries"},
                                    {name:"Frozen meal", key:"frozenMeal"},
                                    {name:"Frozen desserts", key:"frozenDesserts"},
                                    {name:"Other", key:"other"}
                                    ] ;%>

                        <table class="mt-4 customerDay">
                            <tr>
                                <th></th>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                                <th>Saturday</th>
                                <th>Sunday</th>
                            </tr>
                            <% for (var i=0;i<rows.length;i++){%>
                                <% row = rows[i]; %>
                                <% include partials/customerDayTr.ejs %>
                            <% } %>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-4">
        <div class="row">
            <div class="col-md-12">
                <h3>Meal requirements</h3>
            </div>

<!-- ejs, = only needed within the tag when outputting  variable -->
        
            <div class="col-md-12"> 
                <div class="card">    
                    <!-- mrcats loop here to print the categories. --> 
                            <% for(var i=0; i<mrcats.length; i++) {%>

                                <h3 class="card-header bg-inverse text-white" data-toggle="collapse" data-target="#block_<%= mrcats[i].id %>"> 
                                <!-- as long as the array isnt empty print out all the categories within the mrcats array as tabs -->
                                <% if(mrcats.length > 0) { %>
                                <%= mrcats[i].category %>

                                <% } %> <span class="close text-white">-</span></h3>

                                <div id="block_<%= mrcats[i].id %>" class="collapse">
                                <div class="card-block">
                                <div class="row">
                                
                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <input type="checkbox" id="checkbox_{{ mealr.id }}" value="{{mealr.id}}"
                                                
                                        />
                                        <label for="checkbox_{{ mealr.id }}"> some stuff here (meal requirements)  </label>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>

                           <% } %>                                            
                </div>
            </div>
        </div>
    </div>
    <div style="position:fixed;top:0;right:0;padding:10px;">
        <input type="button" value="Save" class="btn btn-primary" onclick="getCustomer()"/>
    </div>
</div>

<script type="text/javascript">

//---------------------------------------------------------------

 /*<% field = [{fieldId:"firstName",fieldName: "First name"},{fieldId:"lastName",fieldName: "Last name"}];%>
                        <% include partials/customerInputAddUser.ejs %> */
                        /*
Add a customer
- customer object

var customer = {};

- button that adds a customer
  - javascript click function
  
  
  */
  
//function to get the customer data from the fields
  function getCustomer()
  {
  //get the data from the fields and store them into variables
		var customerNum = $('#customerNumber');
		var firstName = $('#firstName'); 
		var lastName = $('#lastName');
		var userName = $('#userName');
		var password = $('#password');
		var address = $('#address');
		var email = $('#email');
		var phoneNum = $('#phoneNumber');	

	//take the variables above and store them in an array
    //object customerObject has a customer number, first name, last name etc. 
		var customerObject = {customerNumber:customerNum, firstName:firstName, lastName:lastName, userName:userName, password:password, address:address, email:email, phoneNum:phoneNum};
    //print out the entire object to make sure that all the values are correct before adding to the db
    console.log(customerObject);
	//pass the customer array to the save function to input into the database 
	saveCustomer(cust_Array);
  }
 
  //function to put the data into the database
  function saveCustomer(array)
  {
	//save the customer into the databsae, so save the firleds as an array or input them individually?
	//input an array of object(?) to the db containing all the data from the user? 
  }

//---------------------------------------------------------------


    angular.module('AddCustomer', []).controller('CustomerCtrl', ['$scope', '$http', function ($scope, $http) {
        $scope.saveCustomer = {};
        $scope.mealRequirements = {};
        $scope.customerRequirements = [];
        $scope.customerDay = {};
		$scope.saveUser ={};

        $scope.findRequirement = function(customer, mealr){
            var found = false;
            if(customer.mealRequirements)
                for(var i=0;i<customer.mealRequirements.length;i++) {
                    if (customer.mealRequirements[i].id == mealr.id) {
                        found = true;
                        break;
                    }
                }
            return found;
        };
		

        $scope.addCustomer = function () {
            console.log($scope.customerDay);
            $scope.customerRequirements = [];
            angular.forEach($scope.mealRequirements, function(key,value){
                 if(key)
                    $scope.customerRequirements.push(value);
            });

            $http.post('/addCustomers', {
                "customer": $scope.saveCustomer,
                "mealRequirements":$scope.customerRequirements,
                "customerDay" : $scope.customerDay,
				"user":$scope.saveUser
			},
            function (response) { $scope.results = response; },
            function (failure) { console.log("failed : ", failure ); });
        }
    }]);
