<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="js/lib/angular.js"></script>
        <script src="js/app.js"></script>

        <script>console.log(window.location.pathname);</script>

        <title>Home</title>
    </head>

    <body ng-app="mealsApp">
        <div ng-controller="MealsController">
            <button ng-click="chiliSpicy()">Chili</button>
            <button ng-click="jalapenoSpicy()">Jalapeño</button>
            <p>The food is {{spice}} spicy!</p>

            <meal-detail spice="MealsController.spice"></meal-detail>
        </div>
    </body>

</html>
