<div ng-app="ngClickApp" ng-init='mrcats = <%- JSON.stringify(mrcats) %>'>
    <div class="row mt-4" ng-controller="ngClickCtrl">
        <div class="col-md-6">
            <form class="form-inline input-group">
                <input class="form-control" id="newMRCat" ng-model="newMRCat" placeholder="Add new meal requirement category"/>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" ng-click="addNewMRCat()">Add</button>
                </span>
            </form>
        </div>
    </div>
    <div class="row">
            <div class="col-md-4 mt-4" ng-repeat="cat in mrcats">
                <div class="card" ng-controller="ngClickCtrl">
                    <h3 class="card-header">{{ cat.category }}</h3>
                    <div class="card-block">
                        <form class="form-inline input-group">
                            <input class="form-control" ng-model="newMR" placeholder="Add new meal requirement"/>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-secondary" ng-click="addNewMR(cat)">Add</button>
                            </span>
                        </form>
                        <ul class="mt-4">
                            <li ng-repeat="mealr in cat.mealRs">{{ mealr.requirement }}</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</div>

<script type="text/javascript">

var app = angular.module('ngClickApp', []);

app.controller('ngClickCtrl', function ($scope, $http) {
    $scope.newMRCat = '';
    $scope.newMR = '';

    $scope.addNewMRCat = function () {
        if($scope.newMRCat.length !== 0)
        {
            $http.post("/addNewMRCategory",{newMRCat:$scope.newMRCat}).then(function(response){
                $scope.mrcats.push(response.data.mrcat);
            });
        }
    }

    $scope.addNewMR = function(category){
        if($scope.newMR.length !== 0)
        {
            $http.post("/addNewMR",{newMR:$scope.newMR, categoryID:category.mealRequirementCategoryID}).then(function(response){
                category.mealRs.push(response.data.mr);
            });
        }
    }
});

</script>