<h2 class="mt-2">View customers</h2>

<div class="row">
    
	    <% include partials/customerList.ejs %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
		<script>
		
var socket = io.connect("localhost:3000");
	<!-- get the customer from main within router and dispaly it on this page -->
	socket.on('zak', function(customer,user)
	{
		console.log(customer);
		$("#CustomerTable").append(customer,user);
	});
	</script>
	
</div>